# macOS
.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
Playground/
timeline.xctimeline
playground.xcworkspace

# Secrets
*.env
Secrets.plist
